.header_nav_bg{
    width: 100%;
    height: 6rem;
    line-height: 6rem;
    background-color: #000;
} //header_nav_bg
.header_nav{
    width: 100%;
    height: 6.4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .dep1.ul_left{
        position: relative;
        display: flex;
        align-items: center;
        & > .logo{
            padding: 0;
        }
        .logo_img{
            width: 12rem;
        } //logo_img
    } //dep1 ul_left

    .dep1.ul_right{
        display: flex;
        align-items: center;
        

        .ko{
            position: relative;
            &::before{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -22%;
                content: '';
                width: 1px;
                height: 1rem;
                background-color: #999;
            }
        } //ko
        .en a{
            color: #999;
            &:hover{
                color: #fff;
            }
        }
    } //dep1 ul_right
} //header_nav

.footer_nav{
    padding: 5rem 0 3rem 0;
    .footer_dep1{
        display: flex;
        justify-content: space-between;
        & > li > a{
            font-weight: 900;
            font-size: 1.4rem;
            display: inline-block;
            padding-bottom: 1.5rem;
        }
        & li{
            padding: 0.4rem 0 0.4rem 0;
        }
    }
} //footer_nav