.popup {
	position: fixed;
	width: min(30%, 500px);
	padding: 3% 2%;
	font-size: 1.8rem;
	line-height: 1.75;
	background-color: #fff;
	border-radius: 3%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
	top: 13%;
	left: 34%;
    & > span {
        user-select: none;
        position: absolute;
        background-color: #54aa4c;
        color: #fff;
        border-radius: 5%;
        padding: 0% 2%;
        right: 6%;
        bottom: 10%;
        cursor: pointer;
    }
}