@font-face {
    font-family: 'YouandiModernTR';
    // src: url(../../css/YouandiModernTR.ttf);
    src: url(./YouandiModernTR.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{font-size: 62.5%;}
body{
    font-family: 'YouandiModernTR';
}
ol, ul, li {
	list-style: none;
}
a{
    color: #fff;
    text-decoration: none;
}
.inner{
    max-width: 1200px;
    margin: auto;
}