.header_nav .dep1.ul_left a{
    font-size: 1.2rem;
    // font-weight: 500;
    display: block;
    padding: 0rem 2.2rem;
}
.header_nav .dep1.ul_right a{
    font-size: 1rem;
    display: block;
    padding: 2rem 0 2rem 2rem;
}

.header_nav .dep2 a,
.footer_nav .dep2 a{
    font-size: 1rem;
}

.sub_title{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 4rem;
}
.section_title{
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}