.header_nav .dep1.ul_left a{
    font-size: 1.4rem;
    display: block;
    padding: 0rem 2.2rem;
}
.header_nav .dep1.ul_right a{
    font-size: 1.4rem;
    display: block;
    padding: 2rem 0 2rem 2rem;
}
.footer_nav > li > a{
    font-size: 1.4rem;
}

.header_nav .dep2 a,
.footer_nav .dep2 a{
    font-size: 1.4rem;
}
.footer_dep2 a{
    font-size: 1.2rem;
}

.sub_title{
    font-size: 2.4rem;
    font-weight: 900;
    margin-bottom: 4rem;
    transition: all 0.3s;
}
.section_title{
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.5;
    transition: all 0.6s;
}